*{
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    margin: auto;
    padding: auto;
}

header{
    padding: 10px;
    margin: 10px;
    border-left: 0.5px solid rgb(163, 159, 159);
    border-right: 0.5px solid rgb(163, 159, 159);
}

header img{
    max-width: 20%;
    margin: auto;
    padding: 0px;
    justify-content: center;
}

nav{
    margin: 5px;
    padding: 5px;
    text-align: center;
}

nav a{
    font-size: 19px;
    text-decoration: none;
    margin-right: 5px;
    color: black;
    font-weight: bold;
    padding: 2px;
    cursor: pointer;
}

nav a:hover{
    color: rgb(163, 159, 159);
    border-left: 0.5px solid rgb(163, 159, 159);
}

.headline{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.headline img{
    width: 100%;
    max-width: 1400px;
}

.platform{
    padding: 10px;
    margin: 10px;
}

.platform h2{
    text-align: left;

}


.benefit-container img{
    width: 20%;
    max-width: 50px;
    margin: auto;
    display: block;
}

.benefit-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.benefit-container div{
    margin: 5px;
    padding: 10px;
    background-color: rgb(251, 251, 251);
    border-radius: 5px;
}

.benefit-container div h2{
    text-align: center;
}

.benefit-container div p{
    text-align: center;
    color: rgb(163, 159, 159);
}


/*-------------------*/

.communty{
    padding: 10px;
    margin: 10px;
    border: 0.5px solid rgb(163, 159, 159);
}

.community h2{
    text-align: left;
}

.stat-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.stat-container div{
    background-color: rgb(251, 251, 251);
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.stat-container p{
    color: rgb(163, 159, 159);
}


/*-------------------*/

.featured{
    padding: 10px;
    margin: 10px;
    border: 0.5px solid rgb(163, 159, 159);
}

.featured h2{
    text-align: left;
}

.course-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.course-container div{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.course-container div img{
    width: 100%;
    max-width: 350px;
    margin: auto;
    border-radius: 5px 5px 0px 0px;
}

.course-container div h2{
    text-align: center;
}

.course-container div p{
    text-align: center;
    color: rgb(163, 159, 159);
}

.course-container div button{
    background: linear-gradient(90deg, rgb(97, 165, 180) 0%, rgb(105, 216, 211) 100%, rgb(86, 178, 143) 100%);
    color: white;
    border: linear-gradient(90deg, rgb(97, 165, 180) 0%, rgb(105, 216, 211) 100%, rgb(86, 178, 143) 100%);
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
}

.course-container div button img{
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}


/*-------------------*/

.testimonials{
    padding: 10px;
    margin: 10px;
    border: 0.5px solid rgb(163, 159, 159);
}

.testimonials h2{
    text-align: left;
}

.testimonials-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.testimonials-container div{
    border-left: 3px solid purple;
    border-radius: 5px;
    background-color: rgb(247, 244, 244);
    text-align: center;
    margin: 5px;
    padding: 25px;
}

/*-------------------*/


.join{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    margin: 10px;
    border: 0.5px solid rgb(163, 159, 159);
    background-color: rgb(247, 244, 244);
    text-align: center;
}

footer{
    padding: 10px;
    margin: 10px;
    border: 0.5px solid rgb(163, 159, 159);
}

footer nav{

}

footer nav a{
    font-size: 19px;
    text-decoration: none;
    margin-right: 5px;
    color: black;
    padding: 2px;
}

